<section class="tns-carousel tns-controls-lg">
  <div data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;responsive&quot;: {&quot;0&quot;:{&quot;nav&quot;:true, &quot;controls&quot;: false},&quot;992&quot;:{&quot;nav&quot;:false, &quot;controls&quot;: true}}}" class="tns-carousel-inner">

    <!-- Item-->
    <div class="px-lg-5" style="background-color: #3aafd2;">
      <div class="d-lg-flex justify-content-between align-items-center ps-lg-4"><img src="/resources/vendor/img/home/hero-slider/01.jpg" alt="Summer Collection" class="d-block order-lg-2 me-lg-n5 flex-shrink-0">
        <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
          <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
            <h3 class="h2 text-light fw-light pb-1 from-start">Has just arrived!</h3>
            <h2 class="text-light display-5 from-start delay-1">Huge Summer Collection</h2>
            <p class="fs-lg text-light pb-3 from-start delay-2">Swimwear, Tops, Shorts, Sunglasses &amp; much more...</p>
            <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a href="/shop-grid-ls/" class="btn btn-primary">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Item-->
    <div class="px-lg-5" style="background-color: #f5b1b0;">
      <div class="d-lg-flex justify-content-between align-items-center ps-lg-4"><img src="/resources/vendor/img/home/hero-slider/02.jpg" alt="Women Sportswear" class="d-block order-lg-2 me-lg-n5 flex-shrink-0">
        <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
          <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
            <h3 class="h2 text-light fw-light pb-1 from-bottom">Hurry up! Limited time offer.</h3>
            <h2 class="text-light display-5 from-bottom delay-1">Women Sportswear Sale</h2>
            <p class="fs-lg text-light pb-3 from-bottom delay-2">Sneakers, Keds, Sweatshirts, Hoodies &amp; much more...</p>
            <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a href="/shop-grid-ls/" class="btn btn-primary">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Item-->
    <div class="px-lg-5" style="background-color: #eba170;">
      <div class="d-lg-flex justify-content-between align-items-center ps-lg-4"><img src="/resources/vendor/img/home/hero-slider/03.jpg" alt="Men Accessories" class="d-block order-lg-2 me-lg-n5 flex-shrink-0">
        <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
          <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
            <h3 class="h2 text-light fw-light pb-1 from-top">Complete your look with</h3>
            <h2 class="text-light display-5 from-top delay-1">New Men's Accessories</h2>
            <p class="fs-lg text-light pb-3 from-top delay-2">Hats &amp; Caps, Sunglasses, Bags &amp; much more...</p>
            <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a href="/shop-grid-ls/" class="btn btn-primary">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Popular categories-->
<section class="container position-relative pt-3 pt-lg-0 pb-5 mt-lg-n10" style="z-index: 10;">
  <div class="row">
    <div class="col-xl-8 col-lg-9">
      <div class="card border-0 shadow-lg">
        <div class="card-body px-3 pt-grid-gutter pb-0">
          <div class="row g-0 ps-1">
            <div class="col-sm-4 px-2 mb-grid-gutter"><a href="/shop-grid-ls/" class="d-block text-center text-decoration-none me-1"><img src="/resources/vendor/img/home/categories/cat-sm01.jpg" alt="Men" class="d-block rounded mb-3">
                <h3 class="fs-base pt-1 mb-0">Men</h3>
              </a></div>
            <div class="col-sm-4 px-2 mb-grid-gutter"><a href="/shop-grid-ls/" class="d-block text-center text-decoration-none me-1"><img src="/resources/vendor/img/home/categories/cat-sm02.jpg" alt="Women" class="d-block rounded mb-3">
                <h3 class="fs-base pt-1 mb-0">Women</h3>
              </a></div>
            <div class="col-sm-4 px-2 mb-grid-gutter"><a href="/shop-grid-ls/" class="d-block text-center text-decoration-none me-1"><img src="/resources/vendor/img/home/categories/cat-sm03.jpg" alt="Kids" class="d-block rounded mb-3">
                <h3 class="fs-base pt-1 mb-0">Kids</h3>
              </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Products grid (Trending products)-->
<section class="container pt-md-3 pb-5 mb-md-3">
  <h2 class="h3 text-center">Trending products</h2>
  <div class="row pt-4 mx-n2">
    {% assign listname = 'fashion store v.1' %}
    {% assign viewname = 'fashion store v.1 main' %}
    {% entitylist fsmlist = name: listname %}
    {% for view in fsmlist.views %}
    {% if view.name == viewname %}
    {% entityview  id:view.id %}
    {% for e in entityview.records  %}
    {% assign c = entities['product'][e.id] %}

    <!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
      <div class="card product-card"><button type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist" class="btn-wishlist btn-sm"><i class="ci-heart"></i></button><a href="/shop-single-v1/?productid={{e.id}}" class="card-img-top d-block overflow-hidden"><img src="https://cartzilla-dev-cs.crm3.dynamics.com/api/data/v9.0/products({{e.id}})/clds_thumbnail/$value" alt="Product"></a>
        <div class="card-body py-2"><a href="#" class="product-meta d-block fs-xs pb-1">Sneakers &amp; Keds</a>
          <h3 class="product-title fs-sm"><a href="/shop-single-v1/?productid={{e.id}}">{{ c.description }}</a></h3>
          <div class="d-flex justify-content-between">
            <div class="product-price"><span class="text-accent">{{ c.currentcost | round:2 }}</span></div>
            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-half active"></i><i class="star-rating-icon ci-star"></i></div>
          </div>
        </div>
        <div class="card-body card-body-hidden">
          <div class="text-center pb-2">
            <div class="form-check form-option form-check-inline mb-2"><input type="radio" name="size1" id="s-75" class="form-check-input"><label for="s-75" class="form-option-label">7.5</label></div>
            <div class="form-check form-option form-check-inline mb-2"><input type="radio" name="size1" id="s-80" checked="" class="form-check-input"><label for="s-80" class="form-option-label">8</label></div>
            <div class="form-check form-option form-check-inline mb-2"><input type="radio" name="size1" id="s-85" class="form-check-input"><label for="s-85" class="form-option-label">8.5</label></div>
            <div class="form-check form-option form-check-inline mb-2"><input type="radio" name="size1" id="s-90" class="form-check-input"><label for="s-90" class="form-option-label">9</label></div>
          </div><button type="button" class="btn btn-primary btn-sm d-block w-100 mb-2"><i class="ci-cart fs-sm me-1"></i>Add to Cart</button>
          <div class="text-center"><a href="#quick-view" data-bs-toggle="modal" class="nav-link-style fs-ms"><i class="ci-eye align-middle me-1"></i>Quick view</a></div>
        </div>
      </div>
      <hr class="d-sm-none">
    </div>
    {% endfor %}
    {% endentityview %}
    {% endif %}
    {% endfor %}
    {% endentitylist %}

    <!-- Banners-->
    <section class="container pb-4 mb-md-3">
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="d-sm-flex justify-content-between align-items-center bg-secondary overflow-hidden rounded-3">
            <div class="py-4 my-2 my-md-0 py-md-5 px-4 ms-md-3 text-center text-sm-start">
              <h4 class="fs-lg fw-light mb-2">Hurry up! Limited time offer</h4>
              <h3 class="mb-4">Converse All Star on Sale</h3><a href="#" class="btn btn-primary btn-shadow btn-sm">Shop Now</a>
            </div><img src="/resources/vendor/img/shop/catalog/banner.jpg" alt="Shop Converse" class="d-block ms-auto">
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="d-flex flex-column h-100 justify-content-center bg-size-cover bg-position-center rounded-3" style="background-image: url(/resources/vendor/img/blog/banner-bg.jpg);">
            <div class="py-4 my-2 px-4 text-center">
              <div class="py-1">
                <h5 class="mb-2">Your Add Banner Here</h5>
                <p class="fs-sm text-muted">Hurry up to reserve your spot</p><a href="#" class="btn btn-primary btn-shadow btn-sm">Contact us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Featured category (Hoodie)-->
    <section class="container mb-4 pb-3 pb-sm-0 mb-sm-5">
      <div class="row">

        <!-- Banner with controls-->
        <div class="col-md-5">
          <div class="d-flex flex-column h-100 overflow-hidden rounded-3" style="background-color: #e2e9ef;">
            <div class="d-flex justify-content-between px-grid-gutter py-grid-gutter">
              <div>
                <h3 class="mb-1">Hoodie day</h3><a href="/shop-grid-ls/" class="fs-md">Shop hoodies<i class="ci-arrow-right fs-xs align-middle ms-1"></i></a>
              </div>
              <div id="hoodie-day" class="tns-carousel-controls"><button type="button"><i class="ci-arrow-left"></i></button><button type="button"><i class="ci-arrow-right"></i></button></div>
            </div><a href="/shop-grid-ls/" class="d-none d-md-block mt-auto"><img src="/resources/vendor/img/home/categories/cat-lg04.jpg" alt="For Women" class="d-block w-100"></a>
          </div>
        </div>

        <!-- Product grid (carousel)-->
        <div class="col-md-7 pt-4 pt-md-0">
          <div class="tns-carousel">
            <div data-carousel-options="{&quot;nav&quot;: false, &quot;controlsContainer&quot;: &quot;#hoodie-day&quot;}" class="tns-carousel-inner">
              <div>
                <div class="row mx-n2">
                  {% assign listname = 'fashion store v.1' %}
                  {% assign viewname = 'hoodies and sweatshirts' %}
                  {% entitylist fsmlist = name: listname %}
                  {% for view in fsmlist.views %}
                  {% if view.name == viewname %}
                  {% entityview  id:view.id %}
                  {% for e in entityview.records  %}
                  {% assign c = entities['product'][e.id] %}

                  <!-- Carousel item-->
                  <div class="col-lg-4 col-6 px-0 px-sm-2 mb-sm-4">
                    <div class="card product-card card-static"><button type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist" class="btn-wishlist btn-sm"><i class="ci-heart"></i></button><a href="/shop-single-v1/?productid={{e.id}}" class="card-img-top d-block overflow-hidden"><img src="https://cartzilla-dev-cs.crm3.dynamics.com/api/data/v9.0/products({{e.id}})/clds_thumbnail/$value" alt="Product"></a>
                      <div class="card-body py-2"><a href="#" class="product-meta d-block fs-xs pb-1">Hoodies &amp; Sweatshirts</a>
                        <h3 class="product-title fs-sm"><a href="/shop-single-v1/?productid={{e.id}}">{{ c.description }}</a></h3>
                        <div class="d-flex justify-content-between">
                          <div class="product-price"><span class="text-accent">${{ c.currentcost | round:2 }}</span></div>
                          <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  {% endentityview %}
                  {% endif %}
                  {% endfor %}
                  {% endentitylist %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Shop by brand-->
    <section class="container py-lg-4 mb-4">
      <h2 class="h3 text-center pb-4">Shop by brand</h2>
      <div class="row">
        <div class="col-md-3 col-sm-4 col-6"><a href="#" class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter"><img src="/resources/vendor/img/shop/brands/01.png" alt="Brand" class="d-block mx-auto" style="width: 150px;"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a href="#" class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter"><img src="/resources/vendor/img/shop/brands/02.png" alt="Brand" class="d-block mx-auto" style="width: 150px;"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a href="#" class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter"><img src="/resources/vendor/img/shop/brands/03.png" alt="Brand" class="d-block mx-auto" style="width: 150px;"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a href="#" class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter"><img src="/resources/vendor/img/shop/brands/04.png" alt="Brand" class="d-block mx-auto" style="width: 150px;"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a href="#" class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter"><img src="/resources/vendor/img/shop/brands/05.png" alt="Brand" class="d-block mx-auto" style="width: 150px;"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a href="#" class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter"><img src="/resources/vendor/img/shop/brands/06.png" alt="Brand" class="d-block mx-auto" style="width: 150px;"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a href="#" class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter"><img src="/resources/vendor/img/shop/brands/07.png" alt="Brand" class="d-block mx-auto" style="width: 150px;"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a href="#" class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter"><img src="/resources/vendor/img/shop/brands/08.png" alt="Brand" class="d-block mx-auto" style="width: 150px;"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a href="#" class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter"><img src="/resources/vendor/img/shop/brands/09.png" alt="Brand" class="d-block mx-auto" style="width: 150px;"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a href="#" class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter"><img src="/resources/vendor/img/shop/brands/10.png" alt="Brand" class="d-block mx-auto" style="width: 150px;"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a href="#" class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter"><img src="/resources/vendor/img/shop/brands/11.png" alt="Brand" class="d-block mx-auto" style="width: 150px;"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a href="#" class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter"><img src="/resources/vendor/img/shop/brands/12.png" alt="Brand" class="d-block mx-auto" style="width: 150px;"></a></div>
      </div>
    </section>

    <!-- Blog + Instagram info cards-->
    <section class="container-fluid px-0">
      <div class="row g-0">
        <div class="col-md-6"><a href="/blog-list-sidebar/" class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-primary">
            <div class="card-body text-center"><i class="ci-edit h3 mt-2 mb-4 text-primary"></i>
              <h3 class="h5 mb-1">Read the blog</h3>
              <p class="text-muted fs-sm">Latest store, fashion news and trends</p>
            </div>
          </a></div>
        <div class="col-md-6"><a href="#" class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-accent">
            <div class="card-body text-center"><i class="ci-instagram h3 mt-2 mb-4 text-accent"></i>
              <h3 class="h5 mb-1">Follow on Instagram</h3>
              <p class="text-muted fs-sm">#ShopWithCartzilla</p>
            </div>
          </a></div>
      </div>
    </section></div></section>