   <!-- Footer-->
<h1 style="background-color:white;">{% include 'PageID'%}</h1>   
   <footer class="footer bg-darker pt-5">
    <div class="container pt-2">
      <div class="row pb-2">
        <div class="col-lg-2 col-sm-4 pb-2 mb-4">
          <div class="mt-n1"><a class="d-inline-block align-middle" href="#"><img class="d-block mb-4" src="/resources/vendor/img/footer-logo-light.png" width="117" alt="Cartzilla"></a></div>
          <div class="btn-group dropdown disable-autohide">
            <button class="btn btn-outline-light border-light btn-sm dropdown-toggle px-2" type="button" data-bs-toggle="dropdown"><img class="me-2" src="/resources/vendor/img/flags/1280px-Flag_of_Canada.png" width="20" alt="English">Eng / $</button>
            <ul class="dropdown-menu my-1">
              <li class="dropdown-item">
                <select class="form-select form-select-sm">
                  <option value="usd">$ USD</option>
                  <option value="eur">€ EUR</option>
                  <option value="ukp">£ UKP</option>
                  <option value="jpy">¥ JPY</option>
                </select>
              </li>
              <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="/resources/vendor/img/flags/fr.png" width="20" alt="Français">Français</a></li>
              <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="/resources/vendor/img/flags/de.png" width="20" alt="Deutsch">Deutsch</a></li>
              <li><a class="dropdown-item" href="#"><img class="me-2" src="/resources/vendor/img/flags/it.png" width="20" alt="Italiano">Italiano</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-4">
          <div class="widget widget-links widget-light pb-2 mb-4">
            <h3 class="widget-title text-light">Join us</h3>
            <ul class="widget-list">
                                  {% assign joinusnav = weblinks["Join us"]  %}
                                  {% if joinusnav %}
                                      {% for link in joinusnav.weblinks %}
                                       <li class="widget-list-item"><a class="widget-list-link" href="{{ link.url | escape }}"><span class="widget-list-link">{{ link.name | escape }}</span></a>
                                      {% endfor %}
                                  </ul>
                                {% endif %}
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-4">
          <div class="widget widget-links widget-light pb-2 mb-4">
            <h3 class="widget-title text-light">Let us help you</h3>
            <ul class="widget-list">
                                  {% assign letushelpyounav = weblinks["Let us help you"]  %}
                                  {% if letushelpyounav %}
                                      {% for link in letushelpyounav.weblinks %}
                                       <li class="widget-list-item"><a class="widget-list-link" href="{{ link.url | escape }}"><span class="widget-list-link">{{ link.name | escape }}</span></a>
                                      {% endfor %}
                                  </ul>
                                {% endif %}
          </div>
        </div>
        <div class="col-lg-2 col-sm-4">
          <div class="widget widget-links widget-light pb-2 mb-4">
            <h3 class="widget-title text-light">Follow us</h3>
            <ul class="widget-list">
                                  {% assign followusnav = weblinks["Follow us"]  %}
                                  {% if followusnav %}
                                      {% for link in followusnav.weblinks %}
                                       <li class="widget-list-item"><a class="widget-list-link" href="{{ link.url | escape }}"><span class="widget-list-link">{{ link.name | escape }}</span></a>
                                      {% endfor %}
                                  </ul>
                                {% endif %}
          </div>
        </div>
        <div class="col-lg-4 col-sm-8">
          <div class="widget pb-2 mb-4">
            <h3 class="widget-title text-light pb-1">Download our app</h3>
            <div class="d-flex flex-wrap"><a class="btn-market btn-apple border border-light me-3 mb-2" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span></a><a class="btn-market btn-google border border-light mb-2" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a></div>
          </div>
        </div>
      </div>
      <hr class="hr-light mt-md-2 mb-3">
      <div class="d-md-flex justify-content-between pt-4 pb-1">
        <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© All rights reserved. Made by <a class="text-light" href="https://www.cloudstrucc.com/" target="_blank" rel="noopener">Cloudstrucc Inc.</a>
        
        {% fetchxml my_query %}
        <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
          <entity name="adx_webpage">
            <attribute name="adx_webpageid" />
            <attribute name="clds_pageid" />
            <attribute name="createdon" />
            <order attribute="clds_pageid" descending="false" />
            <filter type="and">
              <condition attribute="adx_webpageid" operator="eq" uiname="{{page.name}}" uitype="adx_webpage" value="{{page.id}}" />
              <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss" }}' />
            </filter>
          </entity>
        </fetch>
        {% endfetchxml %}
        {% for result in my_query.results.entities %}
        
                    <strong><b>&emsp;&emsp;&emsp;&emsp; PageID: {{ result.clds_pageid | escape }}</b></strong>
         {% endfor %}        </div>
        
        </div>
        <div class="widget widget-links widget-light pb-4">
          <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
            <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Privacy Policy</a></li>
            <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Terms &amp; Conditions</a></li>
            <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" href="#">Cookies Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Toolbar for handheld devices (Food delivery)-->
  <div class="handheld-toolbar">
    <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item" href="#signin-modal" data-bs-toggle="modal"><span class="handheld-toolbar-icon"><i class="ci-user"></i></span><span class="handheld-toolbar-label">Account</span></a><a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span class="handheld-toolbar-label">Menu</span></a><a class="d-table-cell handheld-toolbar-item" href="food-delivery-cart.html"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span class="badge bg-primary rounded-pill ms-1">3</span></span><span class="handheld-toolbar-label">$24.00</span></a></div>
  </div>
  <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
 <!-- Vendor scrits: js libraries and plugins-->
    <script src="/resources/vendor/js/bootstrap.bundle.min.js"></script>
    <script src="/resources/vendor/js/simplebar.min.js"></script>
    <script src="/resources/vendor/js/tiny-slider.js"></script>
    <script src="/resources/vendor/js/smooth-scroll.polyfills.min.js"></script>
  <!-- Main theme script-->
     <script src="/resources/vendor/js/theme.min.js"></script>