{% include 'marketplace-header'%}
{% block page-title %}
<div class="bg-accent pt-4 pb-5">
  <div class="container pt-2 pb-3 pt-lg-3 pb-lg-4">
    <div class="d-lg-flex justify-content-between pb-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
            <li class="breadcrumb-item"><a href="/" class="text-nowrap"><i class="ci-home"></i>Home</a></li>
            <li class="breadcrumb-item text-nowrap"><a href="/home-marketplace">Market</a></li>
            <li aria-current="page" class="breadcrumb-item text-nowrap active">Inside category</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 text-light mb-0">Marketplace category</h1>
      </div>
    </div>
  </div>
</div>
<div class="container pb-5 mb-2 mb-md-4">
{% endblock %}
{% block toolbar %}
  <!-- Toolbar-->
{% endblock %}
  <div class="bg-light shadow-lg rounded-3 mt-n5 mb-4">
    <div class="d-flex align-items-center ps-2">
         <!-- Search-->
      <div class="input-group"><i class="ci-search position-absolute top-50 start-0 translate-middle-y fs-md ms-3"></i><input type="text" placeholder="Search in this category..." class="form-control border-0 shadow-none"></div>
<!-- Sort-->
      <div class="d-flex align-items-center">
        <div class="dropdown py-4 border-start"><a href="#" data-bs-toggle="dropdown" class="nav-link-style fs-md fw-medium dropdown-toggle p-4"><span class="d-inline-block py-1"><i class="ci-thumb-up align-middle opacity-60 mt-n1 me-2"></i>Popular</span></a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a href="#" class="dropdown-item"><i class="ci-flag me-2 opacity-60"></i>Newest</a></li>
            <li><a href="#" class="dropdown-item"><i class="ci-rocket me-2 opacity-60"></i>Bestsellers</a></li>
            <li><a href="#" class="dropdown-item"><i class="ci-loading me-2 opacity-60"></i>Updated</a></li>
            <li><a href="#" class="dropdown-item"><i class="ci-arrow-down me-2 opacity-60"></i>Low Price</a></li>
            <li><a href="#" class="dropdown-item"><i class="ci-arrow-up me-2 opacity-60"></i>High Price</a></li>
          </ul>
        </div>
      </div>
<!-- Pagination-->
      <div class="d-none d-md-flex align-items-center border-start ps-4"><span class="fs-md text-nowrap me-4">Pages&nbsp; 1 / 5</span><a href="#" class="nav-link-style p-4 border-start"><span class="d-inline-block py-1"><i class="ci-arrow-left"></i></span></a><a href="#" class="nav-link-style p-4 border-start"><span class="d-inline-block py-1"><i class="ci-arrow-right"></i></span></a></div>
    </div>
  </div>
<!-- Products grid-->
  <div class="row pt-3 mx-n2">
 {% block product %}
    <!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter">
      <div class="card product-card-alt">
        <div class="product-thumb"><button type="button" class="btn-wishlist btn-sm"><i class="ci-heart"></i></button>
          <div class="product-card-actions"><a href="/marketplace-single" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-eye"></i></a><button type="button" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-cart"></i></button></div><a href="/marketplace-single" class="product-thumb-overlay"></a><img src="/resources/vendor/img/marketplace/products/02.jpg" alt="Product">
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
            <div class="text-muted fs-xs me-1">by <a href="#" class="product-meta fw-medium">Createx Std. </a>in <a href="#" class="product-meta fw-medium">Graphics</a></div>
            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i></div>
          </div>
          <h3 class="product-title fs-sm mb-2"><a href="/marketplace-single">Floating Phone and Tablet Mockup</a></h3>
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="fs-sm me-2"><i class="ci-download text-muted me-1"></i>109<span class="fs-xs ms-1">Sales</span></div>
            <div class="bg-faded-accent text-accent rounded-1 py-1 px-2">$15.<small>00</small></div>
          </div>
        </div>
      </div>
    </div>
<!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter">
      <div class="card product-card-alt">
        <div class="product-thumb"><button type="button" class="btn-wishlist btn-sm"><i class="ci-heart"></i></button>
          <div class="product-card-actions"><a href="/marketplace-single" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-eye"></i></a><button type="button" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-cart"></i></button></div><a href="/marketplace-single" class="product-thumb-overlay"></a><img src="/resources/vendor/img/marketplace/products/03.jpg" alt="Product">
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
            <div class="text-muted fs-xs me-1">by <a href="#" class="product-meta fw-medium">Createx Std. </a>in <a href="#" class="product-meta fw-medium">Graphics</a></div>
            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i></div>
          </div>
          <h3 class="product-title fs-sm mb-2"><a href="/marketplace-single">Project Devices Showcase (PSD)</a></h3>
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="fs-sm me-2"><i class="ci-download text-muted me-1"></i>95<span class="fs-xs ms-1">Sales</span></div>
            <div class="bg-faded-accent text-accent rounded-1 py-1 px-2">$18.<small>00</small></div>
          </div>
        </div>
      </div>
    </div>
<!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter">
      <div class="card product-card-alt">
        <div class="product-thumb"><button type="button" class="btn-wishlist btn-sm"><i class="ci-heart"></i></button>
          <div class="product-card-actions"><a href="/marketplace-single" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-eye"></i></a><button type="button" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-cart"></i></button></div><a href="/marketplace-single" class="product-thumb-overlay"></a><img src="/resources/vendor/img/marketplace/products/08.jpg" alt="Product">
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
            <div class="text-muted fs-xs me-1">by <a href="#" class="product-meta fw-medium">pixels </a>in <a href="#" class="product-meta fw-medium">Graphics</a></div>
            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-half active"></i><i class="star-rating-icon ci-star"></i></div>
          </div>
          <h3 class="product-title fs-sm mb-2"><a href="/marketplace-single">Business Card Branding Mockup</a></h3>
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="fs-sm me-2"><i class="ci-download text-muted me-1"></i>316<span class="fs-xs ms-1">Sales</span></div>
            <div class="bg-faded-accent text-accent rounded-1 py-1 px-2">$17.<small>00</small></div>
          </div>
        </div>
      </div>
    </div>
<!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter">
      <div class="card product-card-alt">
        <div class="product-thumb"><button type="button" class="btn-wishlist btn-sm"><i class="ci-heart"></i></button>
          <div class="product-card-actions"><a href="/marketplace-single" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-eye"></i></a><button type="button" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-cart"></i></button></div><a href="/marketplace-single" class="product-thumb-overlay"></a><img src="/resources/vendor/img/marketplace/products/07.jpg" alt="Product">
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
            <div class="text-muted fs-xs me-1">by <a href="#" class="product-meta fw-medium">pixels </a>in <a href="#" class="product-meta fw-medium">Graphics</a></div>
            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i></div>
          </div>
          <h3 class="product-title fs-sm mb-2"><a href="/marketplace-single">Gravity Device Mockups (PSD)</a></h3>
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="fs-sm me-2"><i class="ci-download text-muted me-1"></i>234<span class="fs-xs ms-1">Sales</span></div>
            <div class="bg-faded-accent text-accent rounded-1 py-1 px-2">$16.<small>00</small></div>
          </div>
        </div>
      </div>
    </div>
<!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter">
      <div class="card product-card-alt">
        <div class="product-thumb"><button type="button" class="btn-wishlist btn-sm"><i class="ci-heart"></i></button>
          <div class="product-card-actions"><a href="/marketplace-single" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-eye"></i></a><button type="button" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-cart"></i></button></div><a href="/marketplace-single" class="product-thumb-overlay"></a><img src="/resources/vendor/img/marketplace/products/01.jpg" alt="Product">
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
            <div class="text-muted fs-xs me-1">by <a href="#" class="product-meta fw-medium">Createx Std. </a>in <a href="#" class="product-meta fw-medium">UI Design</a></div>
            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-half active"></i><i class="star-rating-icon ci-star"></i><i class="star-rating-icon ci-star"></i></div>
          </div>
          <h3 class="product-title fs-sm mb-2"><a href="/marketplace-single">Square Style Mobile UI Kit (Sketch)</a></h3>
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="fs-sm me-2"><i class="ci-download text-muted me-1"></i>153<span class="fs-xs ms-1">Sales</span></div>
            <div class="bg-faded-accent text-accent rounded-1 py-1 px-2">$24.<small>00</small></div>
          </div>
        </div>
      </div>
    </div>
<!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter">
      <div class="card product-card-alt">
        <div class="product-thumb"><button type="button" class="btn-wishlist btn-sm"><i class="ci-heart"></i></button>
          <div class="product-card-actions"><a href="/marketplace-single" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-eye"></i></a><button type="button" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-cart"></i></button></div><a href="/marketplace-single" class="product-thumb-overlay"></a><img src="/resources/vendor/img/marketplace/products/04.jpg" alt="Product">
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
            <div class="text-muted fs-xs me-1">by <a href="#" class="product-meta fw-medium">Createx Std. </a>in <a href="#" class="product-meta fw-medium">Graphics</a></div>
            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i></div>
          </div>
          <h3 class="product-title fs-sm mb-2"><a href="/marketplace-single">Flat-line E-Commerce Icons (AI)</a></h3>
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="fs-sm me-2"><i class="ci-download text-muted me-1"></i>26<span class="fs-xs ms-1">Sales</span></div>
            <div class="bg-faded-accent text-accent rounded-1 py-1 px-2">$18.<small>00</small></div>
          </div>
        </div>
      </div>
    </div>
<!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter">
      <div class="card product-card-alt">
        <div class="product-thumb"><button type="button" class="btn-wishlist btn-sm"><i class="ci-heart"></i></button>
          <div class="product-card-actions"><a href="/marketplace-single" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-eye"></i></a><button type="button" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-cart"></i></button></div><a href="/marketplace-single" class="product-thumb-overlay"></a><img src="/resources/vendor/img/marketplace/products/09.jpg" alt="Product">
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
            <div class="text-muted fs-xs me-1">by <a href="#" class="product-meta fw-medium">pixels </a>in <a href="#" class="product-meta fw-medium">UI Design</a></div>
            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i></div>
          </div>
          <h3 class="product-title fs-sm mb-2"><a href="/marketplace-single">Isometric Device Mockups (PSD)</a></h3>
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="fs-sm me-2"><i class="ci-download text-muted me-1"></i>36<span class="fs-xs ms-1">Sales</span></div>
            <div class="bg-faded-accent text-accent rounded-1 py-1 px-2">$16.<small>00</small></div>
          </div>
        </div>
      </div>
    </div>
<!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter">
      <div class="card product-card-alt">
        <div class="product-thumb"><button type="button" class="btn-wishlist btn-sm"><i class="ci-heart"></i></button>
          <div class="product-card-actions"><a href="/marketplace-single" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-eye"></i></a><button type="button" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-cart"></i></button></div><a href="/marketplace-single" class="product-thumb-overlay"></a><img src="/resources/vendor/img/marketplace/products/10.jpg" alt="Product">
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
            <div class="text-muted fs-xs me-1">by <a href="#" class="product-meta fw-medium">theDesigner </a>in <a href="#" class="product-meta fw-medium">Graphics</a></div>
            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i><i class="star-rating-icon ci-star"></i></div>
          </div>
          <h3 class="product-title fs-sm mb-2"><a href="/marketplace-single">Coffe Paper Cup Mockup</a></h3>
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="fs-sm me-2"><i class="ci-download text-muted me-1"></i>57<span class="fs-xs ms-1">Sales</span></div>
            <div class="bg-faded-accent text-accent rounded-1 py-1 px-2">$10.<small>00</small></div>
          </div>
        </div>
      </div>
    </div>
<!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter">
      <div class="card product-card-alt">
        <div class="product-thumb"><button type="button" class="btn-wishlist btn-sm"><i class="ci-heart"></i></button>
          <div class="product-card-actions"><a href="/marketplace-single" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-eye"></i></a><button type="button" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-cart"></i></button></div><a href="/marketplace-single" class="product-thumb-overlay"></a><img src="/resources/vendor/img/marketplace/products/06.jpg" alt="Product">
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
            <div class="text-muted fs-xs me-1">by <a href="#" class="product-meta fw-medium">Createx Std. </a>in <a href="#" class="product-meta fw-medium">Graphics</a></div>
            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i></div>
          </div>
          <h3 class="product-title fs-sm mb-2"><a href="/marketplace-single">Travel &amp; Landmark Icon Pack (AI)</a></h3>
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="fs-sm me-2"><i class="ci-download text-muted me-1"></i>21<span class="fs-xs ms-1">Sales</span></div>
            <div class="bg-faded-accent text-accent rounded-1 py-1 px-2">$17.<small>00</small></div>
          </div>
        </div>
      </div>
    </div>
<!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter">
      <div class="card product-card-alt">
        <div class="product-thumb"><button type="button" class="btn-wishlist btn-sm"><i class="ci-heart"></i></button>
          <div class="product-card-actions"><a href="/marketplace-single" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-eye"></i></a><button type="button" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-cart"></i></button></div><a href="/marketplace-single" class="product-thumb-overlay"></a><img src="/resources/vendor/img/marketplace/products/05.jpg" alt="Product">
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
            <div class="text-muted fs-xs me-1">by <a href="#" class="product-meta fw-medium">Createx Std. </a>in <a href="#" class="product-meta fw-medium">UI Design</a></div>
            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i></div>
          </div>
          <h3 class="product-title fs-sm mb-2"><a href="/marketplace-single">Minimal Mobile App UI Kit (Sketch)</a></h3>
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="fs-sm me-2"><i class="ci-download text-muted me-1"></i>117<span class="fs-xs ms-1">Sales</span></div>
            <div class="bg-faded-accent text-accent rounded-1 py-1 px-2">$23.<small>00</small></div>
          </div>
        </div>
      </div>
    </div>
<!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter">
      <div class="card product-card-alt">
        <div class="product-thumb"><button type="button" class="btn-wishlist btn-sm"><i class="ci-heart"></i></button>
          <div class="product-card-actions"><a href="/marketplace-single" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-eye"></i></a><button type="button" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-cart"></i></button></div><a href="/marketplace-single" class="product-thumb-overlay"></a><img src="/resources/vendor/img/marketplace/products/11.jpg" alt="Product">
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
            <div class="text-muted fs-xs me-1">by <a href="#" class="product-meta fw-medium">pixels </a>in <a href="#" class="product-meta fw-medium">Graphics</a></div>
            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-half active"></i><i class="star-rating-icon ci-star"></i></div>
          </div>
          <h3 class="product-title fs-sm mb-2"><a href="/marketplace-single">Printed T-Shirt Mockup (PSD)</a></h3>
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="fs-sm me-2"><i class="ci-download text-muted me-1"></i>94<span class="fs-xs ms-1">Sales</span></div>
            <div class="bg-faded-accent text-accent rounded-1 py-1 px-2">$12.<small>00</small></div>
          </div>
        </div>
      </div>
    </div>
<!-- Product-->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter">
      <div class="card product-card-alt">
        <div class="product-thumb"><button type="button" class="btn-wishlist btn-sm"><i class="ci-heart"></i></button>
          <div class="product-card-actions"><a href="/marketplace-single" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-eye"></i></a><button type="button" class="btn btn-light btn-icon btn-shadow fs-base mx-2"><i class="ci-cart"></i></button></div><a href="/marketplace-single" class="product-thumb-overlay"></a><img src="/resources/vendor/img/marketplace/products/12.jpg" alt="Product">
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
            <div class="text-muted fs-xs me-1">by <a href="#" class="product-meta fw-medium">pixels </a>in <a href="#" class="product-meta fw-medium">Graphics</a></div>
            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i></div>
          </div>
          <h3 class="product-title fs-sm mb-2"><a href="/marketplace-single">Corporate Branding Mockup (PSD)</a></h3>
          <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="fs-sm me-2"><i class="ci-download text-muted me-1"></i>122<span class="fs-xs ms-1">Sales</span></div>
            <div class="bg-faded-accent text-accent rounded-1 py-1 px-2">$18.<small>00</small></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-3">
{% endblock %}  
<!-- Pagination-->
  <nav aria-label="Page navigation" class="d-flex justify-content-between pt-2">
    <ul class="pagination">
      <li class="page-item"><a href="#" class="page-link"><i class="ci-arrow-left me-2"></i>Prev</a></li>
    </ul>
    <ul class="pagination">
      <li class="page-item d-sm-none"><span class="page-link page-link-static">1 / 5</span></li>
      <li aria-current="page" class="page-item active d-none d-sm-block"><span class="page-link">1<span class="visually-hidden">(current)</span></span></li>
      <li class="page-item d-none d-sm-block"><a href="#" class="page-link">2</a></li>
      <li class="page-item d-none d-sm-block"><a href="#" class="page-link">3</a></li>
      <li class="page-item d-none d-sm-block"><a href="#" class="page-link">4</a></li>
      <li class="page-item d-none d-sm-block"><a href="#" class="page-link">5</a></li>
    </ul>
    <ul class="pagination">
      <li class="page-item"><a href="#" aria-label="Next" class="page-link">Next<i class="ci-arrow-right ms-2"></i></a></li>
    </ul>
  </nav>
</div>
{% include 'marketplace-footer'%}