

{% fetchxml pricelist %}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
  <entity name="pricelevel">
    <attribute name="name" />
    <attribute name="transactioncurrencyid" />
    <attribute name="enddate" />
    <attribute name="begindate" />
    <attribute name="statecode" />
    <attribute name="pricelevelid" />
    <order attribute="name" descending="false" />
    <filter type="and">
      <condition attribute="name" operator="eq" value="{{pricelistname}}" />
      <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss" }}' />
    </filter>
  </entity>
</fetch>
{% endfetchxml %}

{% if image_size == "large" %}
    {% assign image_size_value = "100000000" %}
{% elsif image_size == "medium" %}
    {% assign image_size_value = "100000001" %}
{% elsif image_size == "small" %}
    {% assign image_size-value = "100000002" %}
{% else %}
no value found for image_size</br>
{% endif %}

{% fetchxml image %}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
  <entity name="clds_pricelistimages">
    <attribute name="clds_pricelistimagesid" />
    <attribute name="clds_name" />
    <attribute name="createdon" />
    <order attribute="clds_name" descending="false" />
    <filter type="and">
      <condition attribute="clds_pricelist" operator="eq" uitype="pricelevel" value="{{pricelist.results.entities[0].pricelevelid}}" />
      <condition attribute="clds_imagesize" operator="eq" value="{{ image_size_value }}" />
      <condition attribute="createdon" operator="le" value='{{ "today" | date: "yyyy-MM-dd HH:mm:ss" }}' />
    </filter>
  </entity>
</fetch>
{% endfetchxml %}

{% if image.results.entities.size == 0 %}
 no images found</br>
{% endif %}

<section class="container pt-lg-3 mb-4 mb-sm-5">
   <div class="row">
          <!-- Banner with controls-->
          <div class="col-md-5{% if swap_picture_order %} order-md-2{% endif %}">
            <div class="d-flex flex-column h-100 overflow-hidden rounded-3" style="background-color: #f6f8fb;">
              <div class="d-flex justify-content-between px-grid-gutter py-grid-gutter">
                <div {% if swap_picture_order %} class="order-md-2"{% endif %}>
                  <h3 class="mb-1">For {{posted_title_name | capitalize}}</h3><a class="fs-md" href="/shop-grid-ls/">Shop for {{posted_title_name}}<i class="ci-arrow-right fs-xs align-middle ms-1"></i></a>
                </div>
                <div class="tns-carousel-controls" id="for-{{posted_title_name}}">
                  <button type="button"><i class="ci-arrow-left"></i></button>
                  <button type="button"><i class="ci-arrow-right"></i></button>
                </div>
              </div><a class="d-none d-md-block mt-auto" href="/shop-grid-ls/"><img class="d-block w-100" src="https://cartzilla-dev-cs.crm3.dynamics.com/api/data/v9.0/clds_pricelistimageses({{image.results.entities[0].clds_pricelistimagesid}})/clds_image/$value" alt="For {{posted_title_name}}"></a>
            </div>
          </div>
          <!-- Product grid (carousel)-->
          <div class="col-md-7 pt-4 pt-md-0 order-md-1">
            <div class="tns-carousel">
              <div class="tns-carousel-inner" data-carousel-options="{&quot;nav&quot;: false, &quot;controlsContainer&quot;: &quot;#for-{{posted_title_name}}&quot;}">
            <!-- Carousel item-->
            <div>
                <div class="row mx-n2">
                {% entitylist fsmlist = name: listname %}
                    {% for view in fsmlist.views %}
                    {% if view.name == viewname %}
                    {% entityview  id:view.id %}
                          {% assign midpoint = entityview.records.size | divided_by: 2 | minus: 1 %}
                          {% for e in entityview.records  %}
                                 {% assign c = entities['product'][e.id] %}
                                    <div class="col-lg-4 col-6 px-0 px-sm-2 mb-sm-4">
                                      <div class="card product-card card-static">
                                        <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="/shop-single-v1/?productid={{e.id}}"><img src="https://cartzilla-dev-cs.crm3.dynamics.com/api/data/v9.0/products({{e.id}})/clds_thumbnail/$value" alt="Product"></a>
                                        <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">Cosmetics</a>
                                          <h3 class="product-title fs-sm"><a href="/shop-single-v1/?productid={{e.id}}">{{ c.description }}</a></h3>
                                          <div class="d-flex justify-content-between">
                                            <div class="product-price"><span class="text-accent">${{ c.currentcost | round:2 }}</span></div>
                                            <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-half active"></i><i class="star-rating-icon ci-star"></i>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div> 
                                {% if forloop.index0 == midpoint %}
                                 </div>
                            </div>
                            <!-- Carousel item-->
                            <div>
                                <div class="row mx-n2">
                                {% endif %}
                          {% endfor %}  
                    {% endentityview %}
                    {% endif %}
                    {% endfor %}
                {% endentitylist %}             
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>