<section class="tns-carousel tns-controls-lg mb-4 mb-lg-5">
        <div class="tns-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;responsive&quot;: {&quot;0&quot;:{&quot;nav&quot;:true, &quot;controls&quot;: false},&quot;992&quot;:{&quot;nav&quot;:false, &quot;controls&quot;: true}}}">
          <!-- Item-->
          <div class="px-lg-5" style="background-color: #f5b1b0;">
            <div class="d-lg-flex justify-content-between align-items-center ps-lg-4"><img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="/resources/vendor/img/home/hero-slider/02.jpg" alt="Women Sportswear">
              <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
                <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
                  <h3 class="h2 text-light fw-light pb-1 from-bottom">Hurry up! Limited time offer.</h3>
                  <h2 class="text-light display-5 from-bottom delay-1">Women Sportswear Sale</h2>
                  <p class="fs-lg text-light pb-3 from-bottom delay-2">Sneakers, Keds, Sweatshirts, Hoodies &amp; much more...</p>
                  <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary" href="/shop-grid-ls/">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Item-->
          <div class="px-lg-5" style="background-color: #3aafd2;">
            <div class="d-lg-flex justify-content-between align-items-center ps-lg-4"><img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="/resources/vendor/img/home/hero-slider/01.jpg" alt="Summer Collection">
              <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
                <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
                  <h3 class="h2 text-light fw-light pb-1 from-start">Has just arrived!</h3>
                  <h2 class="text-light display-5 from-start delay-1">Huge Summer Collection</h2>
                  <p class="fs-lg text-light pb-3 from-start delay-2">Swimwear, Tops, Shorts, Sunglasses &amp; much more...</p>
                  <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary" href="/shop-grid-ls/">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Item-->
          <div class="px-lg-5" style="background-color: #eba170;">
            <div class="d-lg-flex justify-content-between align-items-center ps-lg-4"><img class="d-block order-lg-2 me-lg-n5 flex-shrink-0" src="/resources/vendor/img/home/hero-slider/03.jpg" alt="Men Accessories">
              <div class="position-relative mx-auto me-lg-n5 py-5 px-4 mb-lg-5 order-lg-1" style="max-width: 42rem; z-index: 10;">
                <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap">
                  <h3 class="h2 text-light fw-light pb-1 from-top">Complete your look with</h3>
                  <h2 class="text-light display-5 from-top delay-1">New Men's Accessories</h2>
                  <p class="fs-lg text-light pb-3 from-top delay-2">Hats &amp; Caps, Sunglasses, Bags &amp; much more...</p>
                  <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-primary" href="/shop-grid-ls/">Shop Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Category (Women)-->
     

                {% assign listname = "fashion store v.2" %}
                {% assign viewname = "fashion store v.2 women" %}
                {% assign pricelistname = "fashion store v.2 women" %}
                {% assign posted_title_name = "women" %}
                {% assign swap_picture_order = false %}
                {% assign image_size = "large" %}
                {% include "product carousels" %}
            
      <!-- Category (Men)-->
     
                {% assign listname = "fashion store v.2" %}
                {% assign viewname = "fashion store v.2 men" %}
                {% assign pricelistname = "fashion store v.2 men" %}
                {% assign posted_title_name = "men" %}
                {% assign swap_picture_order = true %}
                {% assign image_size = "large" %}
                {% include "product carousels" %}
            
      <!-- Category (Kids)-->
     
                {% assign listname = "fashion store v.2" %}
                {% assign viewname = "fashion store v.2 kids" %}
                {% assign pricelistname = "fashion store v.2 kids" %}
                {% assign posted_title_name = "kids" %}
                {% assign swap_picture_order = false %} 
                {% assign image_size = "large" %}
                {% include "product carousels" %}
             
      <!-- Shop by brand-->
      <section class="container py-lg-4">
        <h2 class="h3 text-center pb-4">Shop by brand</h2>
        <div class="row">
          <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="/resources/vendor/img/shop/brands/01.png" style="width: 150px;" alt="Brand"></a></div>
          <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="/resources/vendor/img/shop/brands/02.png" style="width: 150px;" alt="Brand"></a></div>
          <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="/resources/vendor/img/shop/brands/03.png" style="width: 150px;" alt="Brand"></a></div>
          <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="/resources/vendor/img/shop/brands/04.png" style="width: 150px;" alt="Brand"></a></div>
          <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="/resources/vendor/img/shop/brands/05.png" style="width: 150px;" alt="Brand"></a></div>
          <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="/resources/vendor/img/shop/brands/06.png" style="width: 150px;" alt="Brand"></a></div>
          <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="/resources/vendor/img/shop/brands/07.png" style="width: 150px;" alt="Brand"></a></div>
          <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="/resources/vendor/img/shop/brands/08.png" style="width: 150px;" alt="Brand"></a></div>
          <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="/resources/vendor/img/shop/brands/09.png" style="width: 150px;" alt="Brand"></a></div>
          <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="/resources/vendor/img/shop/brands/10.png" style="width: 150px;" alt="Brand"></a></div>
          <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="/resources/vendor/img/shop/brands/11.png" style="width: 150px;" alt="Brand"></a></div>
          <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="/resources/vendor/img/shop/brands/12.png" style="width: 150px;" alt="Brand"></a></div>
        </div>
      </section>
      <!-- Product widgets-->
      <section class="container pt-md-3 pb-4 pb-md-5 mb-lg-2">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-2 py-3">
            <div class="widget">
              <h3 class="widget-title">Bestsellers</h3>
              {% assign listname = "fashion store v.2" %}
              {% assign viewname = "fashion store bestsellers" %}
              {% include "product widget" %}
              <p class="mb-0">...</p><a class="fs-sm" href="/shop-grid-ls/">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 py-3">
            <div class="widget">
              <h3 class="widget-title">New arrivals</h3>
              {% assign listname = "fashion store v.2" %}
              {% assign viewname = "fashion store new arrivals" %}
              {% include "product widget" %}
              <p class="mb-0">...</p><a class="fs-sm" href="/shop-grid-ls/">View more<i class="ci-arrow-right fs-xs ms-1"></i></a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 d-none d-lg-block"><a class="d-block" href="/shop-grid-ls/"><img class="d-block rounded-3" src="/resources/vendor/img/home/banners/v-banner.jpg" alt="Promo banner"></a></div>
        </div>
      </section>
      <!-- Blog + Instagram info cards-->
      <section class="container-fluid px-0">
        <div class="row g-0">
          <div class="col-md-6"><a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-primary" href="/blog-list-sidebar/">
              <div class="card-body text-center"><i class="ci-edit h3 mt-2 mb-4 text-primary"></i>
                <h3 class="h5 mb-1">Read the blog</h3>
                <p class="text-muted fs-sm">Latest store, fashion news and trends</p>
              </div></a></div>
          <div class="col-md-6"><a class="card border-0 rounded-0 text-decoration-none py-md-4 bg-faded-accent" href="#">
              <div class="card-body text-center"><i class="ci-instagram h3 mt-2 mb-4 text-accent"></i>
                <h3 class="h5 mb-1">Follow on Instagram</h3>
                <p class="text-muted fs-sm">#ShopWithCartzilla</p>
              </div></a></div>
        </div>
      </section>