 </a>
                  <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" 
                   {% if user %}
                        href="{% if homeurl%}/{{ homeurl }}{% endif %}{{ website.sign_out_url_substitution }}">
                    {% else %}
                        href="/SignIn/">
                   {% endif %}
                   <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
                   <div class="navbar-tool-text ms-n3">
                   {% if user %}
                    <small>Hello, {{user.fullname}}</small>Sign Out</div>
                   {% else %}
                    <small>Hello, Sign in</small>My Account</div>
                   {% endif %}   
</a>