{% include 'food-delivery-header'%}
    <!-- Page title-->
      <section class="bg-darker bg-size-cover bg-position-center py-5" style="background-image: url(/resources/vendor/img/food-delivery/category/pt-bg.jpg);">
        <div class="container py-md-4">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item"><a class="text-nowrap" href="//"><i class="ci-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap"><a href="/#">All categories</a>
              </li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Burgers &amp; Fries</li>
            </ol>
          </nav>
          <h1 class="text-light text-center text-lg-start pt-3">Burgers &amp; Fries</h1>
        </div>
      </section>
      <!-- Categories-->
      <section class="bg-secondary py-4">
        <div class="container" data-simplebar>
          <div class="d-flex justify-content-between"><a class="d-block py-3 pe-sm-3 pe-lg-5 me-5" href="/food-delivery-category"><img class="d-block mx-auto mb-3" src="/resources/vendor/img/food-delivery/icons/noodles.svg" width="60" alt="Noodles">
              <h6 class="fs-base text-center text-nowrap">Noodles</h6></a><a class="d-block py-3 pe-sm-3 pe-lg-5 me-5" href="/food-delivery-category"><img class="d-block mx-auto mb-3" src="/resources/vendor/img/food-delivery/icons/pizza.svg" width="60" alt="Pizza &amp; Pasta">
              <h6 class="fs-base text-center text-nowrap">Pizza &amp; Pasta</h6></a><a class="d-block py-3 pe-sm-3 pe-lg-5 me-5" href="/food-delivery-category"><img class="d-block mx-auto mb-3" src="/resources/vendor/img/food-delivery/icons/steak.svg" width="60" alt="Grill &amp; Steaks">
              <h6 class="fs-base text-center text-nowrap">Grill &amp; Steaks</h6></a><a class="d-block py-3 pe-sm-3 pe-lg-5 me-5" href="/food-delivery-category"><img class="d-block mx-auto mb-3" src="/resources/vendor/img/food-delivery/icons/fish.svg" width="60" alt="Fish &amp; Seafood">
              <h6 class="fs-base text-center text-nowrap">Fish &amp; Seafood</h6></a><a class="d-block py-3 pe-sm-3 pe-lg-5 me-5" href="/food-delivery-category"><img class="d-block mx-auto mb-3" src="/resources/vendor/img/food-delivery/icons/healthy.svg" width="60" alt="Healthy Food">
              <h6 class="fs-base text-center text-nowrap">Healthy Food</h6></a><a class="d-block py-3 pe-sm-3 pe-lg-5 me-5" href="/food-delivery-category"><img class="d-block mx-auto mb-3" src="/resources/vendor/img/food-delivery/icons/cuisine.svg" width="60" alt="Haute Cuisine">
              <h6 class="fs-base text-center text-nowrap">Haute Cuisine</h6></a><a class="d-block py-3 pe-sm-3 pe-lg-5 me-5" href="/food-delivery-category"><img class="d-block mx-auto mb-3" src="/resources/vendor/img/food-delivery/icons/chicken.svg" width="60" alt="Chicken &amp; Snaks">
              <h6 class="fs-base text-center text-nowrap">Chicken &amp; Snaks</h6></a><a class="d-block py-3 pe-2" href="/food-delivery-category"><img class="d-block mx-auto mb-3" src="/resources/vendor/img/food-delivery/icons/coffee.svg" width="60" alt="Coffee &amp; Desserts">
              <h6 class="fs-base text-center text-nowrap">Coffee &amp; Desserts</h6></a></div>
        </div>
      </section>
{% entitylist fsmlist = name: 'Marketplace main' %}
{% entityview %}
       {% for e in entityview.records %}
            {% assign c = entities['product'][e.id] %}
           {{ c.description }}</br>
           {{ c.currentcost | round:2 }}</br>
           {{ c.clds_thumbnail.file }}</br>
           {{ c.TransactionCurrencyId }}</br>
           {{ c.entityimage }}</br>
           {{ e.id }}</br>
           {{ c }}</br>
           {{ e.price }}</br>



       {% endfor %}
{% endentityview %}
{% endentitylist %}      
      <!-- Items grid-->
      <section class="container py-4 py-sm-5">
        <div class="row pt-3 pt-sm-0">
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2" href="/food-delivery-single"><span class="badge badge-end badge-shadow bg-success fs-md fw-medium" data-bs-toggle="tooltip" title="Average meal cost">AMC: $17.<small>00</small></span><img class="card-img-top" src="/resources/vendor/img/food-delivery/restaurants/01.jpg" alt="McDonald's">
              <div class="bg-white rounded-3 pt-1 px-2 mx-auto mt-n5" style="width: 175px;"><img class="d-block rounded-3 mx-auto" src="/resources/vendor/img/food-delivery/restaurants/logos/01.png" width="150" alt="Brand"></div>
              <div class="card-body text-center pt-3 pb-4">
                <h3 class="h5 mb-2">McDonald's</h3>
                <div class="fs-ms text-muted">Burgers, Salads, French fries, Drinks</div>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2" href="/food-delivery-single"><span class="badge badge-end badge-shadow bg-info fs-md fw-medium" data-bs-toggle="tooltip" title="Average meal cost">AMC: $25.<small>00</small></span><img class="card-img-top" src="/resources/vendor/img/food-delivery/restaurants/02.jpg" alt="KFC">
              <div class="bg-white rounded-3 pt-1 px-2 mx-auto mt-n5" style="width: 175px;"><img class="d-block rounded-3 mx-auto" src="/resources/vendor/img/food-delivery/restaurants/logos/04.png" width="150" alt="Brand"></div>
              <div class="card-body text-center pt-3 pb-4">
                <h3 class="h5 mb-2">Kentucky Fried Chicken</h3>
                <div class="fs-ms text-muted">Fried chicken, Burgers, Sandwiches, French fries</div>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2" href="/food-delivery-single"><span class="badge badge-end badge-shadow bg-success fs-md fw-medium" data-bs-toggle="tooltip" title="Average meal cost">AMC: $18.<small>00</small></span><img class="card-img-top" src="/resources/vendor/img/food-delivery/restaurants/03.jpg" alt="Burger King">
              <div class="bg-white rounded-3 pt-1 px-2 mx-auto mt-n5" style="width: 175px;"><img class="d-block rounded-3 mx-auto" src="/resources/vendor/img/food-delivery/restaurants/logos/07.png" width="150" alt="Brand"></div>
              <div class="card-body text-center pt-3 pb-4">
                <h3 class="h5 mb-2">Burger King</h3>
                <div class="fs-ms text-muted">Burgers, Salads, French fries, Drinks</div>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2" href="/food-delivery-single"><span class="badge badge-end badge-shadow bg-info fs-md fw-medium" data-bs-toggle="tooltip" title="Average meal cost">AMC: $27.<small>00</small></span><img class="card-img-top" src="/resources/vendor/img/food-delivery/restaurants/04.jpg" alt="Logan's Roadhouse">
              <div class="bg-white rounded-3 pt-1 px-2 mx-auto mt-n5" style="width: 175px;"><img class="d-block rounded-3 mx-auto" src="/resources/vendor/img/food-delivery/restaurants/logos/06.png" width="150" alt="Brand"></div>
              <div class="card-body text-center pt-3 pb-4">
                <h3 class="h5 mb-2">Logan's Roadhouse</h3>
                <div class="fs-ms text-muted">Grill, Steaks, Burgers, Salads, French fries, Drinks</div>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2" href="/food-delivery-single"><span class="badge badge-end badge-shadow bg-danger fs-md fw-medium" data-bs-toggle="tooltip" title="Average meal cost">AMC: $40.<small>00</small></span><img class="card-img-top" src="/resources/vendor/img/food-delivery/restaurants/05.jpg" alt="Carrabba's">
              <div class="bg-white rounded-3 pt-1 px-2 mx-auto mt-n5" style="width: 175px;"><img class="d-block rounded-3 mx-auto" src="/resources/vendor/img/food-delivery/restaurants/logos/10.png" width="150" alt="Brand"></div>
              <div class="card-body text-center pt-3 pb-4">
                <h3 class="h5 mb-2">Carrabba's</h3>
                <div class="fs-ms text-muted">Grill, Steaks, Burgers, Salads, French fries, Drinks</div>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2" href="/food-delivery-single"><span class="badge badge-end badge-shadow bg-info fs-md fw-medium" data-bs-toggle="tooltip" title="Average meal cost">AMC: $26.<small>00</small></span><img class="card-img-top" src="/resources/vendor/img/food-delivery/restaurants/06.jpg" alt="Bonefish Grill">
              <div class="bg-white rounded-3 pt-1 px-2 mx-auto mt-n5" style="width: 175px;"><img class="d-block rounded-3 mx-auto" src="/resources/vendor/img/food-delivery/restaurants/logos/08.png" width="150" alt="Brand"></div>
              <div class="card-body text-center pt-3 pb-4">
                <h3 class="h5 mb-2">Bonefish Grill</h3>
                <div class="fs-ms text-muted">Grill, Fish, Burgers, Salads, French fries, Drinks</div>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2" href="/food-delivery-single"><span class="badge badge-end badge-shadow bg-success fs-md fw-medium" data-bs-toggle="tooltip" title="Average meal cost">AMC: $19.<small>00</small></span><img class="card-img-top" src="/resources/vendor/img/food-delivery/restaurants/07.jpg" alt="Domino's Pizza">
              <div class="bg-white rounded-3 pt-1 px-2 mx-auto mt-n5" style="width: 175px;"><img class="d-block rounded-3 mx-auto" src="/resources/vendor/img/food-delivery/restaurants/logos/02.png" width="150" alt="Brand"></div>
              <div class="card-body text-center pt-3 pb-4">
                <h3 class="h5 mb-2">Domino's Pizza</h3>
                <div class="fs-ms text-muted">Pizza, Burgers, Salads, French fries, Drinks</div>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2" href="/food-delivery-single"><span class="badge badge-end badge-shadow bg-success fs-md fw-medium" data-bs-toggle="tooltip" title="Average meal cost">AMC: $17.<small>00</small></span><img class="card-img-top" src="/resources/vendor/img/food-delivery/restaurants/08.jpg" alt="Hardee's">
              <div class="bg-white rounded-3 pt-1 px-2 mx-auto mt-n5" style="width: 175px;"><img class="d-block rounded-3 mx-auto" src="/resources/vendor/img/food-delivery/restaurants/logos/13.png" width="150" alt="Brand"></div>
              <div class="card-body text-center pt-3 pb-4">
                <h3 class="h5 mb-2">Hardee's</h3>
                <div class="fs-ms text-muted">Burgers, Salads, French fries, Drinks</div>
              </div></a></div>
          <div class="col-md-4 col-sm-6 mb-grid-gutter"><a class="card product-card h-100 border-0 shadow pb-2" href="/food-delivery-single"><span class="badge badge-end badge-shadow bg-danger fs-md fw-medium" data-bs-toggle="tooltip" title="Average meal cost">AMC: $34.<small>00</small></span><img class="card-img-top" src="/resources/vendor/img/food-delivery/restaurants/09.jpg" alt="Ruth's Chris Steak House">
              <div class="bg-white rounded-3 pt-1 px-2 mx-auto mt-n5" style="width: 175px;"><img class="d-block rounded-3 mx-auto" src="/resources/vendor/img/food-delivery/restaurants/logos/09.png" width="150" alt="Brand"></div>
              <div class="card-body text-center pt-3 pb-4">
                <h3 class="h5 mb-2">Ruth's Chris Steak House</h3>
                <div class="fs-ms text-muted">Grill, Steaks, Burgers, Salads, French fries, Drinks</div>
              </div></a></div>
        </div>
      </section>
    </main>
{% include 'food-delivery-footer'%}