<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cartzilla | Fashion Store v.1</title>

    <!-- SEO Meta Tags-->
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords" content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">

    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/vendor/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/vendor/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/vendor/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="/resources/vendor/css/simplebar.min.css" />
    <link rel="stylesheet" media="screen" href="/resources/vendor/css/tiny-slider.css" />
    <link rel="stylesheet" media="screen" href="/resources/vendor/css/drift-basic.min.css" />

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/resources/vendor/css/theme.min.css">
  </head>

  <!-- Body-->
  <body class="handheld-toolbar-enabled">

    <!-- Sign in / sign up modal-->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-secondary">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link fw-medium active" href="/Signin" data-bs-toggle="tab" role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign in</a></li>
              <li class="nav-item"><a class="nav-link fw-medium" href="Signin" data-bs-toggle="tab" role="tab" aria-selected="false"><i class="ci-user me-2 mt-n1"></i>Sign up</a></li>
            </ul>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body tab-content py-4">
            <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab">
              <div class="mb-3">
                <label class="form-label" for="si-email">Email address</label>
                <input class="form-control" type="email" id="si-email" placeholder="johndoe@example.com" required>
                <div class="invalid-feedback">Please provide a valid email address.</div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="si-password">Password</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" id="si-password" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <div class="mb-3 d-flex flex-wrap justify-content-between">
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" id="si-remember">
                  <label class="form-check-label" for="si-remember">Remember me</label>
                </div><a class="fs-sm" href="#">Forgot password?</a>
              </div>
              <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
            </form>
            <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab">
              <div class="mb-3">
                <label class="form-label" for="su-name">Full name</label>
                <input class="form-control" type="text" id="su-name" placeholder="John Doe" required>
                <div class="invalid-feedback">Please fill in your name.</div>
              </div>
              <div class="mb-3">
                <label for="su-email">Email address</label>
                <input class="form-control" type="email" id="su-email" placeholder="johndoe@example.com" required>
                <div class="invalid-feedback">Please provide a valid email address.</div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="su-password">Password</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" id="su-password" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="su-password-confirm">Confirm password</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" id="su-password-confirm" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <main class="page-wrapper">

      <!-- Quick View Modal-->
      <div class="modal-quick-view modal fade" id="quick-view" tabindex="-1">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title product-title"><a href="/shop-single-v1/" data-bs-toggle="tooltip" data-bs-placement="right" title="Go to product page">Sports Hooded Sweatshirt<i class="ci-arrow-right fs-lg ms-2"></i></a></h4>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">

                <!-- Product gallery-->
                <div class="col-lg-7 pe-lg-0">
                  <div class="product-gallery">
                    <div class="product-gallery-preview order-sm-2">
                      <div class="product-gallery-preview-item active" id="first"><img class="image-zoom" src="/resources/vendor/img/shop/single/gallery/01.jpg" data-zoom="/resources/vendor/img/shop/single/gallery/01.jpg" alt="Product image">
                        <div class="image-zoom-pane"></div>
                      </div>
                      <div class="product-gallery-preview-item" id="second"><img class="image-zoom" src="/resources/vendor/img/shop/single/gallery/02.jpg" data-zoom="/resources/vendor/img/shop/single/gallery/02.jpg" alt="Product image">
                        <div class="image-zoom-pane"></div>
                      </div>
                      <div class="product-gallery-preview-item" id="third"><img class="image-zoom" src="/resources/vendor/img/shop/single/gallery/03.jpg" data-zoom="/resources/vendor/img/shop/single/gallery/03.jpg" alt="Product image">
                        <div class="image-zoom-pane"></div>
                      </div>
                      <div class="product-gallery-preview-item" id="fourth"><img class="image-zoom" src="/resources/vendor/img/shop/single/gallery/04.jpg" data-zoom="/resources/vendor/img/shop/single/gallery/04.jpg" alt="Product image">
                        <div class="image-zoom-pane"></div>
                      </div>
                    </div>
                    <div class="product-gallery-thumblist order-sm-1"><a class="product-gallery-thumblist-item active" href="#first"><img src="/resources/vendor/img/shop/single/gallery/th01.jpg" alt="Product thumb"></a><a class="product-gallery-thumblist-item" href="#second"><img src="/resources/vendor/img/shop/single/gallery/th02.jpg" alt="Product thumb"></a><a class="product-gallery-thumblist-item" href="#third"><img src="/resources/vendor/img/shop/single/gallery/th03.jpg" alt="Product thumb"></a><a class="product-gallery-thumblist-item" href="#fourth"><img src="/resources/vendor/img/shop/single/gallery/th04.jpg" alt="Product thumb"></a></div>
                  </div>
                </div>

                <!-- Product details-->
                <div class="col-lg-5 pt-4 pt-lg-0 image-zoom-pane">
                  <div class="product-details ms-auto pb-3">
                    <div class="d-flex justify-content-between align-items-center mb-2"><a href="/shop-single-v1/#reviews">
                        <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                        </div><span class="d-inline-block fs-sm text-body align-middle mt-1 ms-1">74 Reviews</span>
                      </a>
                      <button class="btn-wishlist" type="button" data-bs-toggle="tooltip" title="Add to wishlist"><i class="ci-heart"></i></button>
                    </div>
                    <div class="mb-3"><span class="h3 fw-normal text-accent me-1">$18.<small>99</small></span>
                      <del class="text-muted fs-lg me-3">$25.<small>00</small></del><span class="badge bg-danger badge-shadow align-middle mt-n2">Sale</span>
                    </div>
                    <div class="fs-sm mb-4"><span class="text-heading fw-medium me-1">Color:</span><span class="text-muted" id="colorOptionText">Red/Dark blue/White</span></div>
                    <div class="position-relative me-n4 mb-3">
                      <div class="form-check form-option form-check-inline mb-2">
                        <input class="form-check-input" type="radio" name="color" id="color1" data-bs-label="colorOptionText" value="Red/Dark blue/White" checked>
                        <label class="form-option-label rounded-circle" for="color1"><span class="form-option-color rounded-circle" style="background-image: url(resources/vendor/img/shop/single/color-opt-1.png)"></span></label>
                      </div>
                      <div class="form-check form-option form-check-inline mb-2">
                        <input class="form-check-input" type="radio" name="color" id="color2" data-bs-label="colorOptionText" value="Beige/White/Black">
                        <label class="form-option-label rounded-circle" for="color2"><span class="form-option-color rounded-circle" style="background-image: url(resources/vendor/img/shop/single/color-opt-2.png)"></span></label>
                      </div>
                      <div class="form-check form-option form-check-inline mb-2">
                        <input class="form-check-input" type="radio" name="color" id="color3" data-bs-label="colorOptionText" value="Dark grey/White/Mustard">
                        <label class="form-option-label rounded-circle" for="color3"><span class="form-option-color rounded-circle" style="background-image: url(resources/vendor/img/shop/single/color-opt-3.png)"></span></label>
                      </div>
                      <div class="product-badge product-available mt-n1"><i class="ci-security-check"></i>Product available</div>
                    </div>
                    <form class="mb-grid-gutter">
                      <div class="mb-3">
                        <label class="fw-medium pb-1" for="product-size">Size:</label>
                        <select class="form-select" required id="product-size">
                          <option value="">Select size</option>
                          <option value="xs">XS</option>
                          <option value="s">S</option>
                          <option value="m">M</option>
                          <option value="l">L</option>
                          <option value="xl">XL</option>
                        </select>
                      </div>
                      <div class="mb-3 d-flex align-items-center">
                        <select class="form-select me-3" style="width: 5rem;">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                        <button class="btn btn-primary btn-shadow d-block w-100" type="submit"><i class="ci-cart fs-lg me-2"></i>Add to Cart</button>
                      </div>
                    </form>
                    <h5 class="h6 mb-3 pb-2 border-bottom"><i class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>Product info</h5>
                    <h6 class="fs-sm mb-2">Style</h6>
                    <ul class="fs-sm ps-4">
                      <li>Hooded top</li>
                    </ul>
                    <h6 class="fs-sm mb-2">Composition</h6>
                    <ul class="fs-sm ps-4">
                      <li>Elastic rib: Cotton 95%, Elastane 5%</li>
                      <li>Lining: Cotton 100%</li>
                      <li>Cotton 80%, Polyester 20%</li>
                    </ul>
                    <h6 class="fs-sm mb-2">Art. No.</h6>
                    <ul class="fs-sm ps-4 mb-0">
                      <li>183260098</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Navbar 3 Level (Light)-->
      <header class="shadow-sm">
        <!-- Topbar-->
        <div class="topbar topbar-dark bg-dark">
          <div class="container">
            <div class="topbar-text dropdown d-md-none"><a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Useful links</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="tel:00331697720"><i class="ci-support text-muted me-2"></i>(00) 33 169 7720</a></li>
                <li><a class="dropdown-item" href="/order-tracking/"><i class="ci-location text-muted me-2"></i>Order tracking</a></li>
              </ul>
            </div>
            <div class="topbar-text text-nowrap d-none d-md-inline-block"><i class="ci-support"></i><span class="text-muted me-1">Support</span><a class="topbar-link" href="tel:00331697720">(00) 33 169 7720</a></div>
            <div class="tns-carousel tns-controls-static d-none d-md-block">
              <div class="tns-carousel-inner" data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false}">
                <div class="topbar-text">Free shipping for order over $200</div>
                <div class="topbar-text">We return money within 30 days</div>
                <div class="topbar-text">Friendly 24/7 customer support</div>
              </div>
            </div>

            <div class="ms-3 text-nowrap"><a class="topbar-link me-4 d-none d-md-inline-block" href="/order-tracking/"><i class="ci-location"></i>Order tracking</a>
              <div class="topbar-text dropdown disable-autohide"><a class="topbar-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><img class="me-2" src="/resources/vendor/img/flags/1280px-Flag_of_Canada.png" width="20" alt="English">Canada / $</a>
                <ul class="dropdown-menu dropdown-menu-end">
                    Currency
                    {% fetchxml Currency %}
                    <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
                      <entity name="transactioncurrency">
                        <attribute name="transactioncurrencyid" />
                        <attribute name="currencyname" />
                        <attribute name="isocurrencycode" />
                        <attribute name="currencysymbol" />
                        <attribute name="exchangerate" />
                        <attribute name="currencyprecision" />
                        <order attribute="currencyname" descending="false" />
                      </entity>
                    </fetch>
                    {% endfetchxml %}
                    <select>
                     {% for c in Currency.results.entities %}
                          <option value="c">{{c.currencysymbol}} {{c.isocurrencycode}}</option>
                     {% endfor %}
                     </select>


                  <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="/resources/vendor/img/flags/fr.png" width="20" alt="Français">Français</a></li>
                  <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="/resources/vendor/img/flags/de.png" width="20" alt="Deutsch">Deutsch</a></li>
                  <li><a class="dropdown-item" href="#"><img class="me-2" src="/resources/vendor/img/flags/it.png" width="20" alt="Italiano">Italiano</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>          
        <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
        <div class="navbar-sticky bg-light">
          <div class="navbar navbar-expand-lg navbar-light">
            <div class="container"><a class="navbar-brand d-none d-sm-block flex-shrink-0" href="/"><img src="/resources/vendor/img/logo-dark.png" width="142" alt="Cartzilla"></a><a class="navbar-brand d-sm-none flex-shrink-0 me-2" href="/"><img src="resources/vendor/img/logo-icon.png" width="74" alt="Cartzilla"></a>
              <div class="input-group d-none d-lg-flex mx-4">
                <input class="form-control rounded-end pe-5" type="text" placeholder="Search for products"><i class="ci-search position-absolute top-50 end-0 translate-middle-y text-muted fs-base me-3"></i>
              </div>
              <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button><a class="navbar-tool navbar-stuck-toggler" href="#"><span class="navbar-tool-tooltip">Expand menu</span>
                  <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-menu"></i></div>
                </a><a class="navbar-tool d-none d-lg-flex" href="/account-wishlist/"><span class="navbar-tool-tooltip">Wishlist</span>
                  <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-heart"></i></div>
                </a>
                  <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" 
                   {% if user %}
                        href="{% if homeurl%}/{{ homeurl }}{% endif %}{{ website.sign_out_url_substitution }}">
                    {% else %}
                        href="/SignIn/">
                   {% endif %}
                   <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
                   <div class="navbar-tool-text ms-n3">
                   {% if user %}
                    <small>Hello, {{user.fullname}}</small>Sign Out</div>
                   {% else %}
                    <small>Hello, Sign in</small>My Account</div>
                   {% endif %}          
                   </a>
                <div class="navbar-tool dropdown ms-3"><a class="navbar-tool-icon-box bg-secondary dropdown-toggle" href="/shop-cart/"><span class="navbar-tool-label">4</span><i class="navbar-tool-icon ci-cart"></i></a><a class="navbar-tool-text" href="/shop-cart/"><small>My Cart</small>$265.00</a>

                 
                </div>
              </div>
            </div>
          </div>
          <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
            <div class="container">
              <div class="collapse navbar-collapse" id="navbarCollapse">

                <!-- Search-->
                <div class="input-group d-lg-none my-3"><i class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                  <input class="form-control rounded-start" type="text" placeholder="Search for products">
                </div>
                <!-- Departments menu-->
                <ul class="navbar-nav navbar-mega-nav pe-lg-2 me-lg-2">
                  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle ps-lg-0" href="#" data-bs-toggle="dropdown"><i class="ci-view-grid me-2"></i>Departments</a>
                    <div class="dropdown-menu px-2 pb-4">
                      <div class="d-flex flex-wrap flex-sm-nowrap">
                        <div class="mega-dropdown-column pt-3 pt-sm-4 px-2 px-lg-3">
                          <div class="widget widget-links"><a class="d-block overflow-hidden rounded-3 mb-3" href="#"><img src="/resources/vendor/img/shop/departments/01.jpg" alt="Clothing"></a>
                            <h6 class="fs-base mb-2">Clothing</h6>
                            <ul class="widget-list">
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Women's clothing</a></li>
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Men's clothing</a></li>
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Kid's clothing</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="mega-dropdown-column pt-4 px-2 px-lg-3">
                          <div class="widget widget-links"><a class="d-block overflow-hidden rounded-3 mb-3" href="#"><img src="/resources/vendor/img/shop/departments/02.jpg" alt="Shoes"></a>
                            <h6 class="fs-base mb-2">Shoes</h6>
                            <ul class="widget-list">
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Women's shoes</a></li>
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Men's shoes</a></li>
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Kid's shoes</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="mega-dropdown-column pt-4 px-2 px-lg-3">
                          <div class="widget widget-links"><a class="d-block overflow-hidden rounded-3 mb-3" href="#"><img src="/resources/vendor/img/shop/departments/03.jpg" alt="Gadgets"></a>
                            <h6 class="fs-base mb-2">Gadgets</h6>
                            <ul class="widget-list">
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Smartphones &amp; Tablets</a></li>
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Wearable gadgets</a></li>
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">E-book readers</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex flex-wrap flex-sm-nowrap">
                        <div class="mega-dropdown-column pt-4 px-2 px-lg-3">
                          <div class="widget widget-links"><a class="d-block overflow-hidden rounded-3 mb-3" href="#"><img src="/resources/vendor/img/shop/departments/04.jpg" alt="Furniture"></a>
                            <h6 class="fs-base mb-2">Furniture &amp; Decor</h6>
                            <ul class="widget-list">
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Home furniture</a></li>
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Office furniture</a></li>
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Lighting and decoration</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="mega-dropdown-column pt-4 px-2 px-lg-3">
                          <div class="widget widget-links"><a class="d-block overflow-hidden rounded-3 mb-3" href="#"><img src="/resources/vendor/img/shop/departments/05.jpg" alt="Accessories"></a>
                            <h6 class="fs-base mb-2">Accessories</h6>
                            <ul class="widget-list">
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Hats</a></li>
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Sunglasses</a></li>
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Bags</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="mega-dropdown-column pt-4 px-2 px-lg-3">
                          <div class="widget widget-links"><a class="d-block overflow-hidden rounded-3 mb-3" href="#"><img src="/resources/vendor/img/shop/departments/06.jpg" alt="Entertainment"></a>
                            <h6 class="fs-base mb-2">Entertainment</h6>
                            <ul class="widget-list">
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Kid's toys</a></li>
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Video games</a></li>
                              <li class="widget-list-item mb-1"><a class="widget-list-link" href="#">Outdoor / Camping</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>

                <!-- Primary menu-->
                <ul class="navbar-nav">
                  {% assign homenav = weblinks["Home Cartzilla Navigation"] %}
                  {% if homenav %}
                  <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Home</a>
                    <ul class="dropdown-menu">
                      {% for link in homenav.weblinks %}
                      <li class="dropdown position-static mb-0"><a class="widget-list-item py-2 border-bottom" href="{{ link.url | escape }}"><span class="d-block text-heading">{{ link.name | escape }}</span><small class="d-block text-muted">{{ link.crc98_display_description }}</small></a>
                        <div class="dropdown-menu h-100 animation-none mt-0 p-3"><a class="d-block" href="{{ link.url | escape }}" style="width: 250px;"><img src="{{ link.crc98_display_picture_path }}" alt="{{ link.name | escape }}"></a></div>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endif %}
                  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Shop</a>
                    <div class="dropdown-menu p-0">
                      <div class="d-flex flex-wrap flex-sm-nowrap px-2">
                        <div class="mega-dropdown-column pt-1 pt-lg-4 pb-4 px-2 px-lg-3">
                          <div class="widget widget-links mb-4">
                            <h6 class="fs-base mb-3">Shop layouts</h6>
                            <ul class="widget-list">
                              <li class="widget-list-item"><a class="widget-list-link" href="/a-shop-grid-ls/">A Shop Grid - Left Sidebar</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/shop-grid-ls/">Shop Grid - Left Sidebar</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/shop-grid-rs/">Shop Grid - Right Sidebar</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/shop-grid-ft/">Shop Grid - Filters on Top</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/shop-list-ls/">Shop List - Left Sidebar</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/shop-list-rs/">Shop List - Right Sidebar</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/shop-list-ft/">Shop List - Filters on Top</a></li>
                            </ul>
                          </div>
                          <div class="widget widget-links">
                            <h6 class="fs-base mb-3">Marketplace</h6>
                            <ul class="widget-list">
                              <li class="widget-list-item"><a class="widget-list-link" href="/marketplace-category/">Category Page</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/marketplace-single/">Single Item Page</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/marketplace-vendor/">Vendor Page</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/marketplace-cart/">Cart</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/marketplace-checkout/">Checkout</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="mega-dropdown-column pt-1 pt-lg-4 pb-4 px-2 px-lg-3">
                          <div class="widget widget-links">
                            <h6 class="fs-base mb-3">Shop pages</h6>
                            <ul class="widget-list">
                              <li class="widget-list-item"><a class="widget-list-link" href="/shop-categories/">Shop Categories</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/shop-single-v1/">Product Page v.1</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/shop-single-v2/">Product Page v.2</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/shop-cart/">Cart</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/checkout-details/">Checkout - Details</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/checkout-shipping/">Checkout - Shipping</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/checkout-payment/">Checkout - Payment</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/checkout-review/">Checkout - Review</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/checkout-complete/">Checkout - Complete</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/order-tracking/">Order Tracking</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/comparison/">Product Comparison</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="mega-dropdown-column pt-1 pt-lg-4 pb-4 px-2 px-lg-3">
                          <div class="widget widget-links mb-4">
                            <h6 class="fs-base mb-3">Grocery store</h6>
                            <ul class="widget-list">
                              <li class="widget-list-item"><a class="widget-list-link" href="/grocery-catalog/">Product Catalog</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/grocery-single/">Single Product Page</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/grocery-checkout/">Checkout</a></li>
                            </ul>
                          </div>
                          <div class="widget widget-links">
                            <h6 class="fs-base mb-3">Food Delivery</h6>
                            <ul class="widget-list">
                              <li class="widget-list-item"><a class="widget-list-link" href="/food-delivery-category/">Category Page</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/food-delivery-single/">Single Item (Restaurant)</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/food-delivery-cart/">Cart (Your Order)</a></li>
                              <li class="widget-list-item"><a class="widget-list-link" href="/food-delivery-checkout/">Checkout (Address &amp; Payment)</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% assign accountnav = weblinks["Account Cartzilla Navigation"] %}
                  {% if accountnav %}
                  <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Account</a>
                    <ul class="dropdown-menu">
                      <li><a class="widget-list-item" href="{% if user %}
                                                                {% if homeurl%}/{{ homeurl }}
                                                                {% endif %}
                                                                {{ website.sign_out_url_substitution }}
                                                            {% else %}/SignIn/{% endif %}"><span class="d-block text-heading">
                                                            {% if user %}Account Signout{% else %}Account Signin{% endif %}</span><small class="d-block text-muted"></small></a>
                      </li>
                      {% for link in accountnav.weblinks %}
                      <li><a class="widget-list-item" href="{{ link.url| escape }}"><span class="d-block text-heading">{{ link.name | escape }}</span><small class="d-block text-muted">{{ link.crc98_display_description }}</small></a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                  {% endif %}

                  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Pages</a>
                    <ul class="dropdown-menu">
                      <li><a class="widget-list-item" href="/about/">About Us</a></li>
                      <li><a class="widget-list-item" href="/contacts/">Contacts</a></li>
                      {% assign helpcenternav = weblinks["Help Center"]  %}
                      {% if helpcenternav %}
                      <li class="dropdown"><a class="widget-list-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Help Center</a>
                        <ul class="dropdown-menu">
                          {% for link in helpcenternav.weblinks %}
                          <li><a class="widget-list-item" href="{{ link.url | escape }}">{{ link.name | escape }}</a></li>
                          {% endfor %}
                        </ul>
                      </li>
                      {% endif %}
                      <li class="dropdown"><a class="widget-list-item dropdown-toggle" href="#" data-bs-toggle="dropdown">404 Not Found</a>
                        <ul class="dropdown-menu">
                          <li><a class="widget-list-item" href="/404-simple-text/">404 - Simple Text</a></li>
                          <li><a class="widget-list-item" href="/404-illustration/">404 - Illustration</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Blog</a>
                    <ul class="dropdown-menu">
                      <li class="dropdown"><a class="widget-list-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Blog List Layouts</a>
                        <ul class="dropdown-menu">
                          <li><a class="widget-list-item" href="/blog-list-sidebar/">List with Sidebar</a></li>
                          <li><a class="widget-list-item" href="/blog-list/">List no Sidebar</a></li>
                        </ul>
                      </li>
                      <li class="dropdown"><a class="widget-list-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Blog Grid Layouts</a>
                        <ul class="dropdown-menu">
                          <li><a class="widget-list-item" href="/blog-grid-sidebar/">Grid with Sidebar</a></li>
                          <li><a class="widget-list-item" href="/blog-grid/">Grid no Sidebar</a></li>
                        </ul>
                      </li>
                      <li class="dropdown"><a class="widget-list-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Single Post Layouts</a>
                        <ul class="dropdown-menu">
                          <li><a class="widget-list-item" href="/blog-single-sidebar/">Article with Sidebar</a></li>
                          <li><a class="widget-list-item" href="/blog-single/">Article no Sidebar</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>  
      </header>
